
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//Global Styles-----------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper {
  background-image: url('../images/nyc-background.jpg');
  background-size: cover;
  //opacity: .7;
  height: 100vh;
  background-position: center;
  overflow: scroll;
}

#container {
  background-color: rgba(155, 155, 155, .4);
  padding: 15px;
}

//Home Page Styles--------------------------------------------------------------

.navbar-default {
  background-color: red;
  border-color: red;
}

.nav-bar-contents {
  line-height: 50px;
  vertical-align: middle;
  color: white;
  font-size: 18px;
  a{
    color: white;
    margin-right: 20px;
  }
  p{
    float: right;
    display: inline;
  }
}

.vics-sign-row {
  //padding: 0;
  margin-top: 70px;
  p{
    @media (max-width: 992px) {
      text-align: center;
    }
  }
}

.vics-sign-pic {
  height: 400px;
}

.vics-sign {
  height: 400px;
  background: white;
  position: relative;
}

.vics-logo-circle {
  position: absolute;
  top: 18px;
  right: 20px;
}

.vics-circle-1 {
  background-color: transparent;
  border: 2px solid #71D632;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
}

.vics-circle-2 {
  background-color: transparent;
  border: 2px solid #71D632;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  position: absolute;
  margin: 21% 21%;
}

.vics-logo {
  font-family: Brush Script MT;
  color: red;
  position: absolute;
  top: -65%;
  left: -62%;
  z-index: 10;
  font-size: 74px;
  transform: rotate(345deg);
  display: inline-block;
  line-height: 100px;
}

.p,
.i,
.z1,
.z2,
.a {
  color: red;
  font-size: 100px;
  font-weight: bold;
}

.p {
  position: absolute;
  top: -3%;
  left: 4%;
}

.i {
  position: absolute;
  top: 11%;
  left: 24%;
}

.z1 {
  position: absolute;
  top: 30%;
  left: 37%;
}

.z2 {
  position: absolute;
  top: 50%;
  left: 60%;
}

.a {
  position: absolute;
  top: 70%;
  left: 78%;
}

.brooklyn {
  position: absolute;
  bottom: 10px;
  left: 14px;
  color: #71D632;
  font-size: 22px;
  font-weight: bold;
}

.vics-title-picture {
  background-image: url('../images/vics-pizza-pies.jpg');
  background-size: cover;
  height: 400px;
  //padding: 0;
  margin-top: 70px;
  @media (max-width: 992px) {
    display: none;
  }
}

//Menu Styles-------------------------------------------------------------------

.nav {
  margin-top: 20px;
  background: red;
  border-radius: 6px 6px 0 0;
  a {
    color: white;
  }
}

.tab-pane {
  li {
    font-size: 18px;
    margin-top: 15px;
  }
}

.tab-content {
  background: white;
  padding: 5px 10px 20px 2px;
}

.toppings {
  margin-top: 15px;
}

.columns {
  column-count: 2;
  column-gap: 50%;
  li {
    margin-top: 0;
  }
}

.menu-tab-title {
  margin-left: 10px;
}

.price {
  color: #71D632;
}

//Printable Menu Page Styles----------------------------------------------------

.menu-pdf-container {
  height: 100vh;
}
